<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="#">
  <title>Survey</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row justify-content-center pt-5 pb-5">
      <div class="col">
        <h1 style="text-align: center;">Data</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" colspan="3" style="text-align: center;">Condition 1</th>
              <th scope="col" colspan="3" style="text-align: center;">Condition 2</th>
              <th scope="col" colspan="3" style="text-align: center;">Condition 3</th>
              <th scope="col" colspan="3" style="text-align: center;">Condition 4</th>
            </tr>
            <tr>
              <th scope="col" style="text-align: center;">Participant</th>
              <th scope="col" style="text-align: center;">Age</th>
              <th scope="col" style="text-align: center;">Intense</th>
              <th scope="col" style="text-align: center;">Clear</th>
              <th scope="col" style="text-align: center;">Annoying</th>
              <th scope="col" style="text-align: center;">Intense</th>
              <th scope="col" style="text-align: center;">Clear</th>
              <th scope="col" style="text-align: center;">Annoying</th>
              <th scope="col" style="text-align: center;">Intense</th>
              <th scope="col" style="text-align: center;">Clear</th>
              <th scope="col" style="text-align: center;">Annoying</th>
              <th scope="col" style="text-align: center;">Intense</th>
              <th scope="col" style="text-align: center;">Clear</th>
              <th scope="col" style="text-align: center;">Annoying</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < data.length; i++) { %>
              <tr>
                <td style="text-align: center;"><%= (i+1) %></td>
                <td style="text-align: center;"><%= data[i]['age'] %></td>
                
                <% for (var j = 0; j < data[i]['answers'].length; j++) { %>
                  <td style="text-align: center;"><%= data[i]['answers'][j]['groupOfAnswer']['intense'][0] %> <%= data[i]['answers'][j]['groupOfAnswer']['intense'][1] %> <%= data[i]['answers'][j]['groupOfAnswer']['intense'][2] %></td>
                  <td style="text-align: center;"><%= data[i]['answers'][j]['groupOfAnswer']['clear'][0] %> <%= data[i]['answers'][j]['groupOfAnswer']['clear'][1] %> <%= data[i]['answers'][j]['groupOfAnswer']['clear'][2] %></td>
                  <td style="text-align: center;"><%= data[i]['answers'][j]['groupOfAnswer']['annoying'][0] %> <%= data[i]['answers'][j]['groupOfAnswer']['annoying'][1] %> <%= data[i]['answers'][j]['groupOfAnswer']['annoying'][2] %></td>
                <% } %>
              </tr>
            <% }%>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>
  <script src="main.js"></script>
</body>

</html>